{% extends "base2.html"%}
{% block title %}Perplastik{% endblock %}

{% block content %}

<body>

  <section id="hero">

        <div class="carousel-item active" style="background-image: url(static/img/fundo/fundo1.png)">
          <div class="carousel-container">
            
                <div class="container">
                  <div class="hero-slide1">
                    <h2 style="color: #000000;" class="animate__animated animate__fadeInDown">Produtos</h2>
                    <p style="color: #000000;" class="animate__animated animate__fadeInUp">A Perplastik tem um catálogo vasto de tampas, nossos produtos detém de alta tecnologia
                       <br> e qualidade, sempre sendo atualizadas com novos métodos de produção e tecnologia,<br> sendo assim somos a melhor escolha para sua empresa.</p>
                    <a style="background-color: #0175BF;" href="contatos" class="btn-get-started animate__animated animate__fadeInUp scrollto">Contrate-nos</a>
                  </div>
                </div>
                
              
          </div>
        </div>
  </section>


 

    <div class="container">
      <br>
      <br>
      <div class="section-title">
        <h2>Tampas</h2>
      </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 portfolio-item">
              
                <div style="height: 500px;width: 350px" class="card">
                  <div  class="card-image">
                    <img style="height: 350px;width: 350px" src="static/img/tampas/tampasd1.png">
                    <div>
                      <span style="text-align: center;" class="card-title"><h2>Tampa Galão 5L</h2> </span>
                      <span style="text-align: center;" class="card-title"><h2>C/ Lacre</h2> </span>
                    </div>
                  </div>
                  </div>
              </div>
            
            
            <div class="col-lg-4 col-md-6 portfolio-item">
              <div style="height: 500px;width: 350px" class="card">
                <div class="card-image">
                  <img style="height: 350px;width: 350px"  src="static/img/tampas/tampas7.png">
                  <span style="text-align: center;" class="card-title"><h2>Tampa Baixa 42/43</h2> </span>
                  <span style="text-align: center;" class="card-title"><h2>S/ Lacre</h2> </span>
                </div>
              
              </div>
              </div>
              <div class="col-lg-4 col-md-6 portfolio-item">
                <div  style="height: 500px;width: 350px"class="card">
                  <div class="card-image">
                    <img style="height: 350px;width: 350px"  src="static/img/tampas/tampas11.png">
                    <span style="text-align: center;" class="card-title"><h2>Tampa Baixa 38mm</h2> </span>
                    <span style="text-align: center;" class="card-title"><h2>C/S Lacre</h2> </span>
                  </div>
                </div>
              </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-lg-4 col-md-6 portfolio-item">
            <div style="height: 500px;width: 350px" class="card">
              <div class="card-image">
                <img style="height: 350px;width: 350px" src="static/img/tampas/tampas9.png">
                <span style="text-align: center;" class="card-title"><h2>Tampa Dosadora</h2> </span>
                <span style="text-align: center;" class="card-title"><h2>1881 28/42</h2> </span>
              </div>
              
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item">
            <div style="height: 500px;width: 350px" class="card">
              <div class="card-image">
                <img style="height: 350px;width: 350px" src="static/img/tampas/tampasd4.png">
                <span style="text-align: center;" class="card-title"><h2>Tampas Fliptop 28mm</h2> </span>
                <span style="text-align: center;" class="card-title"><h2>1810 aberta rosca e Click</h2> </span>
              </div>
            
            </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item">
              <div style="height: 500px;width: 350px"class="card">
                <div  class="card-image">
                  <img style="height: 350px;width: 350px" src="static/img/tampas/tampasd3.png">
                  <span style="text-align: center;" class="card-title"><h2>Tampa Multiuso</h2> </span>
                  <span style="text-align: center;" class="card-title"><h2>.</h2> </span>
                </div>
              </div>
            </div>
      </div>
      <br>
        <br>
      <div class="row">
        <div class="col-lg-4 col-md-6 portfolio-item">
          <div style="height: 500px;width: 350px" class="card">
            <div class="card-image">
              <img style="height: 350px;width: 350px" src="static/img/tampas/tampas10.jpeg">
              <span style="text-align: center;" class="card-title"><h2>Tampa Baixa</h2> </span>
              <span style="text-align: center;" class="card-title"><h2>48mm p/ PET</h2> </span>
            </div>
            
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item">
          <div style="height: 500px;width: 350px" class="card">
            <div class="card-image">
              <img style="height: 350px;width: 350px" src="static/img/tampas/tampas13.png">
              <span style="text-align: center;" class="card-title"><h2>Tampa Pushpull Standart</h2> </span>
              <span style="text-align: center;" class="card-title"><h2>(Detergente)</h2> </span>
            </div>
            
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item">
          <div style="height: 500px;width: 350px" class="card">
            <div class="card-image">
              <img style="height: 350px;width: 350px" src="static/img/tampas/tampas14.jpeg">
              <span style="text-align: center;" class="card-title"><h2>Tampa s/ Lacre</h2> </span>
              <span style="text-align: center;" class="card-title"><h2>28mm</h2> </span>
            </div>
            
          </div>
        </div>
        
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-lg-4 col-md-6 portfolio-item">
        <div style="height: 500px;width: 350px" class="card">
          <div class="card-image">
            <img style="height: 350px;width: 350px" src="static/img/tampas/tampas15.jpeg">
            <span style="text-align: center;" class="card-title"><h2>Tampa Fliptop</h2> </span>
            <span style="text-align: center;" class="card-title"><h2>Mini (Desinfetante)</h2> </span>
          </div>
          
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item">
        <div style="height: 500px;width: 350px" class="card">
          <div class="card-image">
            <img style="height: 350px;width: 350px" src="static/img/tampas/tampas16.jpeg">
            <span style="text-align: center;" class="card-title"><h2>Tampa Copo</h2> </span>
            <span style="text-align: center;" class="card-title"><h2>28mm Reduzida</h2> </span>
          </div>
          
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item">
        <div style="height: 500px;width: 350px" class="card">
          <div class="card-image">
            <img style="height: 350px;width: 350px" src="static/img/tampas/tampas17.jpeg">
            <span style="text-align: center;" class="card-title"><h2>Alça p/ PET</h2> </span>
            <span style="text-align: center;" class="card-title"><h2>48mm. 5L</h2> </span>
          </div>
          
        </div>
      </div>
      
  </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="section-title">
        <h2>Tampas Dedicadas</h2>
        <p>A Perplastik Produzir produtos personalizado para sua empresa se destacar, Nossa tecnologia permite personalizar nossas tampas com a logo de sua empresa, dando mais destaque para sua marca.</p>
      </div>
     
        <div class="row">
            <div class="col s12 m7">
              <div style="height: 350px;width: 350px" class="card">
                <div class="card-image">
                  
                    <img style="height: 350px;width: 350px" src="static/img/tampas/dedicados1.png" alt="Tampa com logo Guárani" class="img-fluid">
                  
                  
                  
                </div>
                
              </div>
            </div>
            <div class="col s12 m7">
              <div style="height: 350px;width: 350px" class="card">
                <div class="card-image">
                  
                    <img style="height: 350px;width: 350px" src="static/img/tampas/dedicados2.png" alt="Tampa com logo" class="img-fluid">
                 
                 
                  
                </div>
              
              </div>
              </div>
              <div class="col s12 m7">
                <div style="height: 350px;width: 350px" class="card">
                  <div class="card-image">
                    
                      <img style="height: 350px;width: 350px" src="static/img/tampas/dedicados3.png" alt="Tampa com logo Ala" class="img-fluid">
                   
                   
                   
                  </div>
                </div>
              </div>
        </div>
        <br>
        <br>
        <br>
    </div>
  </section>


   



















</body>





{% endblock %}