{% extends "base2.html"%}
{% block title %}Perplastik{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='tampas.css') }}">
<body>

  <section id="hero">

        <div class="carousel-item active" style="background-image: url(static/img/fundo/fundo1.png)">
          <div class="carousel-container">
            
                <div class="container">
                  <div class="hero-slide1">
                    <h2 style="color: #000000;" class="animate__animated animate__fadeInDown">Produtos</h2>
                    <p style="color: #000000;" class="animate__animated animate__fadeInUp">A Perplastik tem um catálogo vasto de tampas, nossos produtos detém de alta tecnologia
                       <br> e qualidade, sempre sendo atualizadas com novos métodos de produção e tecnologia,<br> sendo assim somos a melhor escolha para sua empresa.</p>
                    <a style="background-color: #0175BF;" href="contatos" class="btn-get-started animate__animated animate__fadeInUp scrollto">Contrate-nos</a>
                  </div>
                </div>
                
              
          </div>
        </div>
  </section>

  <section>
    <div class="section-title">
      <h2>Tampas</h2>
      
    </div>
    <div class="tampas" class="container">
      <!-- Linha 1 -->
      <div class="card-li">

        <div class="card">
          <div class="image">
            <img src="static/img/tampas/galao5l.png"/>
          </div>
          <div class="details">
            <div class="center">
              <div>
                <h1>Tampa Galão<br><span></span></h1>
                <p>5L com lacre</p>
              </div>
              
              <!-- <ul>
                <li><a href="#"><i  >Imagens</i></a></li>
              </ul> -->
            </div>
          </div>  
        </div>

        <div class="card">
          <div class="image">
            <img src="static/img/tampas/42-43.png"/>
          </div>
          <div class="details">
            <div class="center">
              <div>
                <h1>Tampa Baixa<br><span></span></h1>
                <p>42mm / 43mm sem lacre</p>
              </div>
              
              <!-- <ul>
                <li><a href="#"><i >Imagens</i></a></li>
              </ul> -->
            </div>
          </div>  
        </div>

        <div class="card">
          <div class="image">
            <img src="static/img/tampas/38mm.png"/>
          </div>
          <div class="details">
            <div class="center">
              <div>
                <h1>Tampa Baixa<br><span></span></h1>
                <p>38mm com e sem lacre</p>
              </div>
              
              <!-- <ul>
                <li><a href="#"><i>images</i></a></li>
              </ul> -->
            </div>
          </div>  
        </div>

        <div class="card">
          <div class="image">
            <img src="static/img/tampas/dosadora3.png"/>
          </div>
          <div class="details">
            <div class="center">
              <div>
                <h1>Tampa Dosadora<br><span></span></h1>
                <p>1881 28mm / 42mm</p>
              </div>
              
              <!-- <ul>
                <li><a href="#"><i  >imagens</i></a></li>
              </ul> -->
            </div>
          </div>  
        </div>

      </div>

      <!-- Linha 2-->
      <div class="card-li">

        <div class="card">
          <div class="image">
            <img src="static/img/tampas/fliptop28mm.png"/>
          </div>
          <div class="details">
            <div class="center">
              <div>
                <h1>Tampas Fliptop<br><span></span></h1>
                <p>28mm 1810 aberta rosca e click</p>
              </div>
              
              <!-- <ul>
                <li><a href="#"><i  >More inform</i></a></li>
              </ul> -->
            </div>
          </div>  
        </div>

        <div class="card">
          <div class="image">
            <img src="static/img/tampas/multiuso2.png"/>
          </div>
          <div class="details">
            <div class="center">
              <div>
                <h1>Tampa Multiuso<br><span></span></h1>
                <p></p>
              </div>
              
              <!-- <ul>
                <li><a href="#"><i  >More inform</i></a></li>
              </ul> -->
            </div>
          </div>  
        </div>

        <div class="card">
          <div class="image">
            <img src="static/img/tampas/48mm.jpeg"/>
          </div>
          <div class="details">
            <div class="center">
              <div>
                <h1>Tampa Baixa<br><span></span></h1>
                <p>48mm para garrafa PET</p>
              </div>
              
              <!-- <ul>
                <li><a href="#"><i  >More inform</i></a></li>
              </ul> -->
            </div>
          </div>  
        </div>

        <div class="card">
          <div class="image">
            <img src="static/img/tampas/pushpull.png"/>
          </div>
          <div class="details">
            <div class="center">
              <div>
                <h1>Tampa Pushpull Standart<br><span></span></h1>
                <p>Tampa para detergente</p>
              </div>
              
              <!-- <ul>
                <li><a href="#"><i  >More inform</i></a></li>
              </ul> -->
            </div>
          </div>  
        </div>

      </div>
      <!-- linha 3-->

      <div class="card-li">

        <div class="card">
          <div class="image">
            <img src="static/img/tampas/28mm.jpeg"/>
          </div>
          <div class="details">
            <div class="center">
              <div>
                <h1>Tampa sem lacre<br><span></span></h1>
                <p>28mm</p>
              </div>
              
              <!-- <ul>
                <li><a href="#"><i  >More inform</i></a></li>
              </ul> -->
            </div>
          </div>  
        </div>

        <div class="card">
          <div class="image">
            <img src="static/img/tampas/mini-fliptop.jpeg"/>
          </div>
          <div class="details">
            <div class="center">
              <div>
                <h1>Tampa Fliptop Mini<br><span></span></h1>
                <p>Para desinfetante</p>
              </div>
              
              <!-- <ul>
                <li><a href="#"><i  >More inform</i></a></li>
              </ul> -->
            </div>
          </div>  
        </div>

        <div class="card">
          <div class="image">
            <img src="static/img/tampas/copo28mm.jpeg"/>
          </div>
          <div class="details">
            <div class="center">
              <div>
                <h1>Tampa Copo<br><span></span></h1>
                <p>28mm Reduzida</p>
              </div>
              
              <!-- <ul>
                <li><a href="#"><i  >More inform</i></a></li>
              </ul> -->
            </div>
          </div>  
        </div>

        <div class="card">
          <div class="image">
            <img src="static/img/tampas/alça.jpeg"/>
          </div>
          <div class="details">
            <div class="center">
              <div>
                <h1>Alça PET<br><span></span></h1>
                <p>48mm para garrafa de 5L</p>
              </div>
              
              <!-- <ul>
                <li><a href="#"><i  >More inform</i></a></li>
              </ul> -->
            </div>
          </div>  
        </div>

      </div>


      
    </div>
    
    
    


  </section>
 

    
  

   



















</body>





{% endblock %}