{% extends "base2.html"%}
{% block title %}Perplastik{% endblock %}

{% block content %}
<body>

    <section id="hero">

            <div class="carousel-item active" style="background-image: url(static/img/fundo/fundo2.png)">
              <div class="carousel-container">
                
                    <div class="container">
                      <div class="hero-slide1">
                        <h2 style="color: #000000;" class="animate__animated animate__fadeInDown">Serviços</h2>
                        <p style="color: #000000;" class="animate__animated animate__fadeInUp">Nossa tecnologia e equipamentos de ponta permite a Perplastik produzir e desenvolver<br> produtos plásticos específicos para sua empresa, sempre com alta qualidade.<br>
                          Nossa tecnologia de injeção plástica  de alta qualidade, faz da Perplastik<br> a melhor escolha pra produção de peças técnicas.</p>
                          <a href="contatos" style="background-color: #0175BF;" type="button" class="btn btn-primary">Contrate-nos</a>
                        
                    </div>
                    
                  
              </div>
            </div>
      </section>


      <section id="services" class="services">
        <div class="container">
  
          <div class="section-title">
            <h2>Desenvolvimento de Projetos</h2>
            
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-lg-6 col-md-6 d-flex align-items-stretch" >
              
                <div  >
                  <img src="static/img/serviços/projetos.png" class="img-fluid">
                </div>
  
                  
                </div>

                <div class="col-lg-6 col-md-6 d-flex align-items-stretch" >

                  <p><br><br>Além de produtos plásticos, a perplastik tem uma equipe qualificada na produção e no desenvolvimento de projetos, aliado a nossa tecnologia desenvolvemos projetos en torno da sua necessidade ou de sua empresa.</p>
                  
                </div>
               
                
            </div>

            

          </div>
  

  
            
  
          </div>
        </div>
      </section>
      <br>
     
      <section id="services" class="services">
        <div class="container">
  
          <div class="section-title">
            <h2>Serviços de Injeção</h2>
            
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-lg-6 col-md-6 d-flex align-items-stretch" >
              
                <div  >
                  
                </div>
                  <img src="static/img/serviços/injeção.png" class="img-fluid">
                  
                </div>

                <div class="col-lg-6 col-md-6 d-flex align" >

                  <p><br><br>Perplastick tem o serviço ideal para sua empresa, Serviço de Injeção para diversos setores, alimentício, farmacêutico, domissanitários, cervejeiro. Desenvolvimento e formatação de peças para todos os setores de transformação em embalagens. Consulte nossos profissionais.</p>
                  
                  
                </div>
                
                
            </div>
            <br>
      </section>

      <section id="portfolio" class="portfolio">
        <div class="container">

          <div class="section-title">
            
            <p>Exemplos de peças técnicas por injeção plastica</p>
          </div>
  
         
  
          <div class="row portfolio-container">
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            
                <img src="static/img/tampas/peçatecnica1.jpeg" class="img-fluid" alt="">
                <div class="portfolio-info">
                
                  
                </div>
              
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
             
                <img src="static/img/tampas/peçatecnica2.jpeg" class="img-fluid" alt="">
                <div class="portfolio-info">
                 
                 
                </div>
             
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
             
              <img src="static/img/tampas/peçatecnica3.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
               
               
              </div>
           
          </div>
  
          </div>
  
        </div>
      </section>













</body>

{% endblock %}